@model IEnumerable<ChartItemModel>;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="table-gray chart-table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(item => item.YouTube)</th>
            <th>@Html.DisplayNameFor(item => item.Title)/@Html.DisplayNameFor(item => item.Artist)</th>
            <th>@Html.DisplayNameFor(item => item.Tj)</th>
            <th>@Html.DisplayNameFor(item => item.Ky)</th>
            <th>@Html.DisplayNameFor(item => item.Bookmark)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)

        {
            <tr>
                <td style="position: sticky">
                    <svg src="~/addressIcon.svg" />
                    @if (item.Rank is not null)
                    {
                        <p>@item.Rank</p>
                    }
                </td>
                <td>
                    <p>@item.Title</p>
                    <p>@item.Artist</p>
                </td>
                <td>@item.Tj</td>
                <td>@item.Ky</td>
                <td>@((item.Bookmark ?? false)  ? "★" : "☆")</td>
            </tr>
        }
    </tbody>
</table>