@page
@model ChangePasswordModel
@{
    ViewData["Title"] = SR.Change_Password;
}
<environment include="Development">
    <link rel="stylesheet" href="~/css/pages/Identity/Account/register.css" asp-append-version="true" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/pages/Identity/Account/register.min.css" />
</environment>
<p class="fs-4 fw-semibold title">@ViewData["Title"]</p>
<div class="identity-container">
    <form id="change-password-form" method="post">
        <div class="form-input-wrapper">
            <input asp-for="Input.OldPassword" class="form-input-text" autocomplete="current-password" aria-required="true" placeholder="@SR.Please_enter_your_old_password" />
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
        <div class="form-input-wrapper">
            <input asp-for="Input.NewPassword" class="form-input-text" autocomplete="new-password" aria-required="true" placeholder="@SR.Please_enter_your_new_password" />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-input-wrapper">
            <input asp-for="Input.ConfirmPassword" class="form-input-text" autocomplete="new-password" aria-required="true" placeholder="@SR.Please_confirm_your_new_password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary gray-theme fw-bold">@SR.Update_Password</button>
    </form>
</div>
@section Scripts {
    <script src="~/js/general-notification.js" asp-append-version="true"></script>
    <div id="server-message" data-message="@TempData["PasswordChanged"]" style="display:none;"></div>
}
