@page
@model LinkExternalAccountModel
@{
    ViewData["Title"] = SR.External_login_integration;
}
<environment include="Development">
    <link rel="stylesheet" href="~/css/pages/Identity/Account/register.css" asp-append-version="true" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/pages/Identity/Account/register.min.css" />
</environment>
<p class="fs-4 fw-semibold title">@ViewData["title"]</p>
@if (!Model.ModelState.IsValid)
{
    <div class="text-danger">
        @Html.ValidationSummary(true)
    </div>
}
<form method="post">
    <p>@SR.Do_you_want_to_integrate_with_the_following_email_addresses?</p>
    <p class="fw-bold">@Model.Email</p>
    <div class="d-flex mt-5">
        <a href="@Model.ReturnUrl" class="btn btn-secondary gray-theme mt-7">@SR.Cancel</a>
        <button type="submit" class="btn btn-primary gray-theme mt-4">@SR.Integrate</button>
    </div>
</form>
