@page
@model LoginModel
@{
    ViewData["Title"] = SR.Login;
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/pages/Identity/Account/login.css" asp-append-version="true" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/pages/Identity/Account/login.min.css" />
</environment>
<p class="fs-4 fw-semibold title">@ViewData["Title"]</p>
<div class="identity-container">
    <section>
        <form id="account" method="post">
            <div class="form-input-wrapper">
                <input asp-for="Input.Email" class="form-input-text" autocomplete="username" placeholder="@SR.Email_Address" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-input-wrapper">
                <input asp-for="Input.Password" id="pw" class="form-input-text" autocomplete="current-password" placeholder="@SR.Password" aria-required="true" />
                <p id="capslock">@SR.CapsLock_is_enabled</p>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <button id="login-submit" type="submit" class="btn btn-primary gray-theme fw-bold">@SR.Login</button>
            <div class="account-service">
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@SR.Register</a>
                </p>
                <p class="vertical-line" />
                <p>
                    <a asp-page="./ForgotPassword">@SR.Forgot_Password</a>
                </p>
            </div>
        </form>
    </section>
    <hr />
    <section>
        <div>
            <p class="fs-4 fw-semibold title">@SR.Social_Login</p>
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="submit" class="login-@provider.DisplayName" name="provider"
                            value="@provider.Name" title="Log in using your @provider.DisplayName account">
                        </button>
                    }
                </div>
            </form>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/js/detect-capslock.js" asp-append-version="true"></script>
}
