@page
@model LoginModel
@{
    ViewData["Title"] = SR.Login;
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/pages/Identity/Account/login.css" asp-append-version="true" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/pages/Identity/Account/login.min.css" />
</environment>
<p class="fs-4 fw-semibold title">@ViewData["Title"]</p>
<div class="identity-container">
    <section>
        <form id="account" method="post">
            <div class="form-input-wrapper">
                <input asp-for="Input.Email" class="form-input-text" autocomplete="username" placeholder="@SR.Email_Address" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-input-wrapper">
                <input asp-for="Input.Password" id="pw" class="form-input-text" autocomplete="current-password" placeholder="@SR.Password" aria-required="true" />
                <p id="capslock">@SR.CapsLock_is_enabled</p>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <button id="login-submit" type="submit" class="btn btn-primary gray-theme fw-bold">@SR.Login</button>
            <div class="account-service">
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@SR.Register</a>
                </p>
                <p class="vertical-line" />
                <p>
                    <a asp-page="./ForgotPassword">@SR.Forgot_Password</a>
                </p>
            </div>
        </form>
    </section>
    <hr />
    <section>
        <div>
            <p class="fs-4 fw-semibold title">@SR.Social_Login</p>
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="submit" class="login-@provider.DisplayName external-icon" name="provider"
                                value="@provider.Name" title="Log in using your @provider.DisplayName account">
                            @if (provider.Name == "Google")
                            {
                                <svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg" fill="white">
                                    <rect x="0.5" y="0.5" width="29" height="29" rx="4.5" stroke="#D2D2D2" />
                                    <path d="M26.7666 12.6498H25.8V12.6H15V17.4H21.7818C20.7924 20.1942 18.1338 22.2 15 22.2C11.0238 22.2 7.8 18.9762 7.8 15C7.8 11.0238 11.0238 7.8 15 7.8C16.8354 7.8 18.5052 8.4924 19.7766 9.6234L23.1708 6.2292C21.0276 4.2318 18.1608 3 15 3C8.373 3 3 8.373 3 15C3 21.627 8.373 27 15 27C21.627 27 27 21.627 27 15C27 14.1954 26.9172 13.41 26.7666 12.6498Z" fill="#FFC107" />
                                    <path d="M4.38361 9.4146L8.32621 12.306C9.393 9.6648 11.9766 7.8 15 7.8C16.8354 7.8 18.5052 8.4924 19.7766 9.6234L23.1708 6.2292C21.0276 4.2318 18.1608 3 15 3C10.3908 3 6.39361 5.6022 4.38361 9.4146Z" fill="#FF3D00" />
                                    <path d="M15 27C18.0996 27 20.916 25.8138 23.0454 23.8848L19.3314 20.742C18.1266 21.6546 16.629 22.2 15 22.2C11.8788 22.2 9.22859 20.2098 8.23019 17.4324L4.31699 20.4474C6.30299 24.3336 10.3362 27 15 27Z" fill="#4CAF50" />
                                    <path d="M26.7666 12.6498H25.8V12.6H15V17.4H21.7818C21.3066 18.7422 20.4432 19.8996 19.3296 20.7426C19.3302 20.742 19.3308 20.742 19.3314 20.7414L23.0454 23.8842C22.7826 24.123 27 21 27 15C27 14.1954 26.9172 13.41 26.7666 12.6498Z" fill="#1976D2" />
                                </svg>
                            }
                            else if (provider.Name == "Naver")
                            {
                                <svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3 0.5H27C28.3807 0.5 29.5 1.61929 29.5 3V27C29.5 28.3807 28.3807 29.5 27 29.5H3C1.61929 29.5 0.5 28.3807 0.5 27V3C0.5 1.61929 1.61929 0.5 3 0.5Z" fill="#03C75A" stroke="#C4C4C4" />
                                    <path d="M17.0475 15.405L12.7875 9.30005H9.255V20.7H12.9525V14.595L17.2125 20.7H20.745V9.30005H17.0475V15.405Z" fill="white" />
                                </svg>

                            }
                            else if (provider.Name == "Kakao")
                            {
                                <svg width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M29.5 27.6562C29.5 28.6746 28.6746 29.5 27.6562 29.5H2.34375C1.32544 29.5 0.5 28.6746 0.5 27.6562V2.34375C0.5 1.32544 1.32544 0.5 2.34375 0.5H27.6562C28.6746 0.5 29.5 1.32544 29.5 2.34375V27.6562Z" fill="#FFE812" stroke="#C4C4C4" />
                                    <path d="M15 4.21875C8.26898 4.21875 2.8125 8.52106 2.8125 13.8281C2.8125 17.2593 5.09367 20.2699 8.52516 21.97C8.33848 22.6138 7.32551 26.1118 7.2852 26.3866C7.2852 26.3866 7.26094 26.5931 7.39465 26.6719C7.52836 26.7506 7.68562 26.6895 7.68562 26.6895C8.06906 26.6359 12.1321 23.7819 12.8353 23.2863C13.5379 23.3858 14.2613 23.4375 15 23.4375C21.731 23.4375 27.1875 19.1353 27.1875 13.8281C27.1875 8.52106 21.731 4.21875 15 4.21875Z" fill="black" />
                                    <path d="M8.26172 17.1826C7.87395 17.1826 7.55859 16.8814 7.55859 16.5111V12.334H6.46148C6.08098 12.334 5.77148 12.0251 5.77148 11.6455C5.77148 11.2659 6.08109 10.957 6.46148 10.957H10.062C10.4425 10.957 10.752 11.2659 10.752 11.6455C10.752 12.0251 10.4423 12.334 10.062 12.334H8.96484V16.5111C8.96484 16.8814 8.64949 17.1826 8.26172 17.1826ZM14.4272 17.1735C14.134 17.1735 13.9097 17.0544 13.8421 16.8629L13.4939 15.9514L11.3498 15.9513L11.0014 16.8634C10.9341 17.0545 10.7099 17.1735 10.4167 17.1735C10.2625 17.1736 10.11 17.1405 9.96973 17.0764C9.7759 16.987 9.58957 16.7412 9.80309 16.078L11.485 11.6511C11.6034 11.3145 11.9633 10.9676 12.4213 10.9571C12.8805 10.9675 13.2404 11.3145 13.3591 11.6518L15.0403 16.0767C15.2543 16.7414 15.068 16.9874 14.8741 17.0766C14.7338 17.1405 14.5814 17.1736 14.4272 17.1735C14.4271 17.1735 14.4272 17.1735 14.4272 17.1735V17.1735ZM13.1242 14.706L12.4219 12.7109L11.7196 14.706H13.1242V14.706ZM16.1719 17.0801C15.8003 17.0801 15.498 16.7909 15.498 16.4355V11.6602C15.498 11.2724 15.8201 10.957 16.2158 10.957C16.6116 10.957 16.9336 11.2724 16.9336 11.6602V15.791H18.4277C18.7993 15.791 19.1016 16.0802 19.1016 16.4355C19.1016 16.7909 18.7993 17.0801 18.4277 17.0801H16.1719ZM20.0782 17.1735C19.6904 17.1735 19.3751 16.8581 19.3751 16.4704V11.6602C19.3751 11.2724 19.6904 10.957 20.0782 10.957C20.466 10.957 20.7813 11.2724 20.7813 11.6602V13.1714L22.743 11.2097C22.8439 11.1088 22.9826 11.0532 23.133 11.0532C23.3086 11.0532 23.4848 11.1289 23.6169 11.2609C23.7401 11.3839 23.8136 11.5423 23.8236 11.7067C23.8338 11.8725 23.7786 12.0245 23.6685 12.1348L22.0662 13.7368L23.7969 16.0297C23.8528 16.1033 23.8935 16.1872 23.9167 16.2766C23.9399 16.3661 23.945 16.4592 23.9319 16.5506C23.9194 16.6421 23.8888 16.7302 23.842 16.8098C23.7952 16.8894 23.733 16.9589 23.6591 17.0143C23.5375 17.1068 23.3889 17.1566 23.2362 17.1562C23.1272 17.1568 23.0197 17.1317 22.9221 17.0832C22.8246 17.0347 22.7398 16.964 22.6745 16.8768L21.0255 14.6919L20.7816 14.9359V16.47C20.7813 16.6565 20.7072 16.8353 20.5753 16.9672C20.4435 17.099 20.2647 17.1732 20.0782 17.1735V17.1735Z" fill="#FFE812" />
                                </svg>

                            }
                        </button>
                    }
                </div>
            </form>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/js/detect-capslock.js" asp-append-version="true"></script>
}
