@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = @SR.Register_confirmation;
}
<environment include="Development">
    <link rel="stylesheet" href="~/css/pages/Identity/Account/layout.css" asp-append-version="true" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/pages/Identity/Account/layout.min.css" />
</environment>
<p class="fs-4 fw-semibold title">@ViewData["Title"]</p>
<div class="identity-container">
    <div>
        <p>
            <span>@SR.Your_email</span>
            <span>'@Model.Email'@SR.has_been_emailed</span>
        </p>
    </div>
    <p>
        @SR.Please_check_your_email_and_complete_the_registration_process
    </p>
   <div class="button-wrapper">
        <a asp-page="./Login" class="btn btn-primary gray-theme fw-bold mt-7">
            @SR.Go_to_Login
        </a>
   </div>
</div>
