@page
@model RegisterModel
@{
    ViewData["Title"] = SR.Register;
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/pages/Identity/Account/register.css" asp-append-version="true" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/pages/Identity/Account/register.min.css" />
</environment>
<p class="fs-4 fw-semibold title">@ViewData["Title"]</p>
<div class="identity-container">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="form-input-wrapper">
            <input asp-for="Input.Email" class="form-input-text" placeholder="@SR.Email_Address" autocomplete="username" aria-required="true" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-input-wrapper">
            <input asp-for="Input.Password" id="pw" class="form-input-text" placeholder="@SR.Password" autocomplete="new-password" aria-required="true" />
            <p id="capslock">@SR.CapsLock_is_enabled</p>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-input-wrapper">
            <input asp-for="Input.ConfirmPassword" class="form-input-text" placeholder="@SR.Confirm_Password" autocomplete="new-password" aria-required="true" />
            <p id="capslock">@SR.CapsLock_is_enabled</p>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-input-wrapper">
            <input asp-for="Input.Nickname" class="form-input-text" placeholder="@SR.Nickname" aria-required="true" />
            <span asp-validation-for="Input.Nickname" class="text-danger"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="agreement">
            <div class="agree-all-button">
                <label class="form-label">
                    <input type="checkbox" class="agree-all" />
                    <span class="agree-all-text">@SR.Agree_to_all_terms</span>
                </label>
            </div>
            <div class="terms-wrapper">
                <ul>
                    <li>
                        <div class="item-wrapper">
                            <div class="item">
                                <input asp-for="Input.TermsOfService" type="checkbox" id="terms-agree" class="agree-item" required />
                                <label for="terms-agree" class="text">@SR.Terms_of_Service</label>
                            </div>
                            <a role="button" target="_blank" href="" rel="noreferrer">
                                <svg src="-/caretRightSolidIcon.svg" class="caret-right-icon" />
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="item-wrapper">
                            <div class="item">
                                <input asp-for="Input.PrivacyPolicy" type="checkbox" id="privacy-agree" class="agree-item" required />
                                <label for="privacy-agree" class="text">@SR.Privacy_Policy</label>
                            </div>
                            <a role="button" target="_blank" href="" rel="noreferrer">
                                <svg src="-/caretRightSolidIcon.svg" class="caret-right-icon" />
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="item-wrapper">
                            <div class="item">
                                <input asp-for="Input.AdReceivedAccept" type="checkbox" id="ad-email-agree" class="agree-item" />
                                <label for="ad-email-agree" class="text">@SR.Agree_to_receive_events_and_other_notifications</label>
                            </div>
                            <a role="button" target="_blank" href="" rel="noreferrer">
                                <svg src="-/caretRightSolidIcon.svg" class="caret-right-icon" />
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <button id="register-submit" type="submit" class="btn btn-primary gray-theme fw-bold mt-7">@SR.Register</button>
    </form>
</div>

@section Scripts {
    <script src="~/js/detect-capslock.js" asp-append-version="true"></script>
    <script src="~/js/agreement-check.js" asp-append-version="true"></script>
}
