@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = @SR.Register_confirmation;
}
<p class="fs-4 fw-semibod title">@ViewData["Title"]</p>
<div class="identity-container">
    <p>
        @SR.An_email_has_been_sent_to_your_email___0___with_the_link_you_need_to_register_
    </p>
    <p>
        @SR.Please_check_your_email_and_complete_the_registration_process_
    </p>
   <div class="button-wrapper">
        <a asp-page="./Login" class="btn btn-primary gray-theme fw-bold">
            @SR.Go_to_Login
        </a>
   </div>
</div>
<a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
