@page
@model ResetPasswordModel
@{
    ViewData["Title"] = SR.Reset_Password;
}

<p class="fs-4 fw-semibold title">@ViewData["Title"]</p>
<div class="identity-container">
    <form method="post">
        <input asp-for="Input.Code" type="hidden" />
        <div class="form-floating">
            <input asp-for="Input.Password" id="pw" class="form-input-text" autocomplete="new-password" placeholder="@SR.Password" aria-required="true" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <p id="capslock">@SR.CapsLock_is_enabled</p>
        </div>
        <div class="form-floating">
            <input asp-for="Input.ConfirmPassword" class="form-input-text" autocomplete="new-password" placeholder="@SR.Confirm_Password" aria-required="true" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button id="login-submit" type="submit" class="btn btn-primary gray-theme fw-bold">@SR.Reset_Password</button>
    </form>
</div>

@section Scripts {
    <script src="~/js/detect-capslock.js" asp-append-version="true"></script>
}
