@page
@model SetPasswordModel
@{
    ViewData["Title"] = SR.Set_Password;
}
<environment include="Development">
    <link rel="stylesheet" href="~/css/pages/Identity/Account/register.css" asp-append-version="true" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/pages/Identity/Account/register.min.css" />
</environment>
<p class="fs-4 fw-semibold title">@ViewData["Title"]</p>
<div>
    <p>@SR.You_do_not_have_a_local_username_password_for_this_site</p>
    <p>@SR.Add_a_local_account_so_you_can_log_in_without_an_external_login</p>
</div>
<div class="identity-container">
    <form id="set-password-form" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Input.NewPassword" class="form-input-text" autocomplete="new-password" placeholder="@SR.Please_enter_your_new_password" />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.ConfirmPassword" class="form-input-text" autocomplete="new-password" placeholder="@SR.Please_confirm_your_new_password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary gray-theme fw-bold">@SR.Set_Password</button>
    </form>
    <partial name="_StatusMessage" for="StatusMessage" />
</div>
