@page
@model LoginModel
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Login"];
}
<environment include="Development">
    <link rel="stylesheet" href="~/css/pages/Identity/Account/login.css" asp-append-version="true" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/pages/Identity/Account/login.min.css" />
</environment>
<div class="identity-contents-area">
    <div class="account-container">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="account-title">@SharedLocalizer["Email login"]</div>
                <div class="form-input">
                    <input asp-for="Input.Email" class="form-email-control" autocomplete="username" aria-required="true" placeholder="@SharedLocalizer["Email address"]" />
                </div>
                <div class="form-input">
                    <input asp-for="Input.Password" class="form-password-control" type="password" aria-required="true" placeholder="@SharedLocalizer["Password"]" />
                    <span class="password-blind-switch"></span>
                </div>
                <div>
                    <div class="login-remain login-checkbox">
                        <input class="form-check-input" type="checkbox" asp-for="Input.RememberMe" />
                        <label class="remain-text" asp-for="Input.RememberMe"></label>
                    </div>
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <div class="login">
                    <button id="login-submit" type="submit" class="identity-button login-button">
                        <span class="identity-button-text">@SharedLocalizer["Login"]</span>
                    </button>
                </div>
                <div>
                    <ul class="find-container">
                        <li>
                            <a class="register-account" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@SharedLocalizer["Register"]</a>
                        </li>
                        <span class="bar"></span>
                        <li>
                            <a class="email-confirmation" asp-page="./ResendEmailConfirmation">@SharedLocalizer["Confirm email"]</a>
                        </li>
                        <span class="bar"></span>
                        <li>
                            <a class="find-password" asp-page="./ForgotPassword">@SharedLocalizer["Forgot password"]</a>
                        </li>
                    </ul>
                </div>
            </form>
        </section>
    </div>
    <hr />
    <div class="external-account-container">
        <section>
            <div class="social-account-title">@SharedLocalizer["External login"]</div>
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <ul class="sns-login-container">
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <li class="sns-login">
                            <button type="submit" class="@provider.Name.ToLower()-button button-radius" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"></button>
                        </li>
                    }
                </ul>
            </form>
        </section>
    </div>
</div>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script src="~/js/password-blind.js" asp-append-version="true"></script>
}