@page
@model RegisterModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Register"];
}
<environment include="Development">
    <link rel="stylesheet" href="~/css/pages/Identity/Account/register.css" asp-append-version="true" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/pages/Identity/Account/register.min.css" />
</environment>
<div class="identity-contents-area">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="register-container">
            <div class="register-title">@Localizer["Register"]</div>
            <div class="form-input">
                <input asp-for="Input.Email" class="form-email-control" autocomplete="username" aria-required="true" placeholder="@Localizer["Email name"]" required />
            </div>
            <div class="warning-context">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-input">
                <input asp-for="Input.Password" class="form-password-control" autocomplete="new-password" type="password" aria-required="true" placeholder="@Localizer["Password"]" />
                <span class="password-blind-switch"></span>
            </div>
            <div class="warning-context">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-input">
                <input asp-for="Input.ConfirmPassword" class="form-password-control" autocomplete="new-password" type="password" aria-required="true" placeholder="@Localizer["Password confirm"]" />
                <span class="password-blind-switch"></span>
            </div>
            <div class="warning-context">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-input">
                <input asp-for="Input.NickName" class="form-email-control" aria-required="true" placeholder="@Localizer["Nickname"]" required />
            </div>
            <div class="warning-context">
                <span asp-validation-for="Input.NickName" class="text-danger"></span>
            </div>
        </div>
        <div class="agreement-container>">
            <section>
                <div class="agreement-allcheck">
                    <label>
                        <input type="checkbox" class="accept-all" />
                        <span class="agreement-allcheck-text">@Localizer["Agreement allcheck"]</span>
                    </label>
                </div>
                <div class="agreement-terms">
                    <div class="agreement-title">@Localizer["Essential check"]</div>
                    <div class="agreement-container">
                        <div class="terms-content">
                            <span>
                                <input asp-for="Input.TermsOfService" type="checkbox" class="accept-item" required />
                                <label class="terms-text">@Localizer["TermsOfService"]</label>
                                <a target="_blank" href="" rel="noreferrer"></a>
                            </span>
                            <div>
                                <span asp-validation-for="Input.TermsOfService" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="terms-content">
                            <span>
                                <input asp-for="Input.PrivacyPolicy" type="checkbox" class="accept-item" required />
                                <label class="terms-text">@Localizer["PrivacyPolicy"]</label>
                                <a target="_blank" href="" rel="noreferrer"></a>
                            </span>
                            <div>
                                <span asp-validation-for="Input.PrivacyPolicy" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="agreement-terms">
                    <div class="agreement-title">@Localizer["Optional check"]</div>
                    <div class="agreement-container">
                        <div class="terms-content">
                            <span>
                                <input asp-for="Input.AdReceived" type="checkbox" class="accept-item" />
                                <label class="terms-text">@Localizer["Adreceived"]</label>
                                <a target="_blank" href="" rel="noreferrer"></a>
                            </span>
                        </div>
                    </div>
                </div>
            </section>
            <div class="agree-join">
                <button id="agree-join-submit" type="submit" class="identity-button agree-join-button" disabled>
                    <span class="identity-button-text">@Localizer["Agree join"]</span>
                </button>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </form>
</div>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script src="~/js/password-blind.js" asp-append-version="true"></script>
<script src="~/js/agreement-check.js" asp-append-version="true"></script>
}
