@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" type="image/svg" />
    <title>@SR.KaoList : @ViewData["Title"]</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/pages/Identity/Account/layout.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/pages/Identity/Account/layout.min.css" />
    </environment>
</head>
<body>
    <div class="identity-region">
        <div class="container">
            <div role="main" class="identity-box">
                <a class="logo-wrapper" href="/">
                    <svg src="-/logo.svg" class="logo" />
                </a>
                @RenderBody()
            </div>
            <footer>
                <div class="customer-menu">
                    <p class="termsofservice">
                        <a href="/customer/terms">
                            @SR.Terms_of_Service
                        </a>
                    </p>
                    <p class="privacy">
                        <a href="/customer/policy">
                            @SR.Privacy_Policy
                        </a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
